<div class="Comment">
    <form action="">
        <div class="CommentsHeader">
            <div class="CommentsTips">
                <span onClick="javascript: history.go(-1);">
                    <img src="./image/back.png" alt="">
                </span>
                <span>回复评论</span>
                <span onClick="javascript: history.go(-1);" ng-click="sendComment()">提交</span>
            </div>
        </div>

        <div class="commentArea">
            <textarea id="commentText" name="commentText" ng-model="comment.text" required placeholder="回复@{{Name}}"
                      ng-class="{'has-error': form.commentText.$dirty && form.commentText.$invalid, 'has-success': form.commentText.$dirty && form.commentText.$valid}">
        </textarea>
        </div>
        <div ng-show="comment.image.length>0" class="comment-image-container">
            <img ng-src="{{comment.image[0].url}}">
        </div>
        <!--<div ng-click="uploadPhoto()" class="uploadPhoto">-->
            <!--<img src="./image/add.png" alt="">-->
        <!--</div>-->
    </form>
</div>
<div class="upPhoto" ng-show='PhotoStatus'>
    <div class="darkBack"></div>
    <div class="column-subscribe">
        <div class="next-container">
           <!-- <div  class="takePicture">
                <span >拍照</span>
            </div>-->
            <div  class="photo" >
                <span >相册</span>
                <input type="file" name="添加图片"
                       style="position:absolute;z-index:10;cursor: pointer;right:0;top:0;width:100%;height:100%;opacity:0;-moz-opacity:0;-webkit-opacity:0;filter:alpha(opacity=0);"
                       nv-file-select="" uploader="uploader"
                       accept="image/jpeg,image/x-png"/>
            </div>
            <div class="line"></div>
            <div ng-click="cancel()" class="cancel">
                <span >取消</span>
            </div>
        </div>
    </div>
</div>